body {
  background-color: #f4f4f4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src: local('NeueHaasGrotesk'), url("./Fonts/NHaasGroteskTXPro-65Md.ttf") format('truetype');
}

.label {
  font-size: large;
  margin-bottom: 5px;
  padding: 0
}

.helperText {
  margin-top: 0;
  margin-bottom: 5px;
  font-style: italic;
}